<a href="https://colab.research.google.com/github/Sublian/Inmersion_datos/blob/main/Curso_data_Science_by_nuclio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Inicializando el Google Drive (sincronizando)

In [1]:
#con estos comandos podemos utilizar el archivo que tenemos en nuestro drive
#si no usaras un archivo en tu Drive saltar este paso
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

#Importacion de la DB Titanic

In [2]:
#importamos la libreria pandas
import pandas as pd

#en mi caso subi el archivo del titanic desde mi drive por ello la ruta del archivo es asi
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/analisis/titanic.csv")

#hago una muestra
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
702,703,0,3,"Barbara, Miss. Saiide",female,18.0,0,1,2691,14.4542,NaN,C
179,180,0,3,"Leonard, Mr. Lionel",male,36.0,0,0,LINE,0.0000,NaN,S
612,613,1,3,"Murphy, Miss. Margaret Jane",female,NaN,1,0,367230,15.5000,NaN,Q
104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.0,2,0,3101276,7.9250,NaN,S
687,688,0,3,"Dakic, Mr. Branko",male,19.0,0,0,349228,10.1708,NaN,S

**Problema 1**
Establece el nombre del pasajero como indice de las filas y muestra los 10  primeros registros de la base de datos. Guarda este nuevo DF como "Data"

In [55]:
#solucion problema 1
data=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/analisis/titanic.csv", index_col=3)
data.head(10)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
"Moran, Mr. James",6,0,3,male,NaN,0,0,330877,8.4583,NaN,Q
"McCarthy, Mr. Timothy J",7,0,1,male,54.0,0,0,17463,51.8625,E46,S
"Palsson, Master. Gosta Leonard",8,0,3,male,2.0,3,1,349909,21.0750,NaN,S
"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",9,1,3,female,27.0,0,2,347742,11.1333,NaN,S
"Nasser, Mrs. Nicholas (Adele Achem)",10,1,2,female,14.0,1,0,237736,30.0708,NaN,C

##Conociendo los elementos del DataFrame

In [4]:
#para el primer acercamiento usamos info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
#para conocer la cantidad de elementos y columnas de forma numerica podemos usar shape. Que retorna la cantidad de filas y la cantidad de columnas
df.shape

(891, 12)

In [6]:
#para conocer el numero de elementos usaremos size
df.size

10692

#Renombrar y acceder al DataFrame

En este momento necesitamos cambiar el nombre de la columna "Fare" por "Ticket Prize"

In [7]:
df.rename(columns={"Fare":"Ticket Price"})

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Ticket Price,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Ejercicios de acceso de indices

In [8]:
#accediendo desde posicion
df.iloc[3]
df.iloc[5,3]
df.iloc[-1,3:6]

Name    Dooley, Mr. Patrick
Sex                    male
Age                    32.0
Name: 890, dtype: object

In [9]:
#accediendo desde una etiqueta
df.loc[3, "Name"]
df.loc[3, ["Name","Sex", "Age"]]

Name    Futrelle, Mrs. Jacques Heath (Lily May Peel)
Sex                                           female
Age                                             35.0
Name: 3, dtype: object

Creacion de un DF con los nombres de los pasajeros, sexo y edad

In [10]:
data1=df.loc[:,["Name", "Sex", "Age"]]
data1

                                                  Name     Sex   Age
0                              Braund, Mr. Owen Harris    male  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2                               Heikkinen, Miss. Laina  female  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4                             Allen, Mr. William Henry    male  35.0
..                                                 ...     ...   ...
886                              Montvila, Rev. Juozas    male  27.0
887                       Graham, Miss. Margaret Edith  female  19.0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN
889                              Behr, Mr. Karl Howell    male  26.0
890                                Dooley, Mr. Patrick    male  32.0

[891 rows x 3 columns]

Crear un dataframe con los primeros 5 registros

In [11]:
data2= df.loc[:4,:]
data2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**Problema 2**
Dividir el dataframe del Titanic en dos, con el mismo numero de registros cada uno

In [15]:
#primero debemos de conocer el tamaño del dataframe, para ello haremos lo siguiente
df.shape[0]/2

445.5

In [16]:
df1=df.iloc[:445,:]
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
440,441,1,2,"Hart, Mrs. Benjamin (Esther Ada Bloomfield)",female,45.0,1,1,F.C.C. 13529,26.2500,NaN,S
441,442,0,3,"Hampe, Mr. Leon",male,20.0,0,0,345769,9.5000,NaN,S
442,443,0,3,"Petterson, Mr. Johan Emil",male,25.0,1,0,347076,7.7750,NaN,S
443,444,1,2,"Reynaldo, Ms. Encarnacion",female,28.0,0,0,230434,13.0000,NaN,S
444,445,1,3,"Johannesen-Bratthammer, Mr. Bernt",male,NaN,0,0,65306,8.1125,NaN,S

In [17]:
df2=df.iloc[445:,:]
df2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
445,446,1,1,"Dodge, Master. Washington",male,4.0,0,2,33638,81.8583,A34,S
446,447,1,2,"Mellinger, Miss. Madeleine Violet",female,13.0,0,1,250644,19.5000,NaN,S
447,448,1,1,"Seward, Mr. Frederic Kimber",male,34.0,0,0,113794,26.5500,NaN,S
448,449,1,3,"Baclini, Miss. Marie Catherine",female,5.0,2,1,2666,19.2583,NaN,C
449,450,1,1,"Peuchen, Major. Arthur Godfrey",male,52.0,0,0,113786,30.5000,C104,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

#Opciones para las columnas

Eliminar columnas

In [18]:
df2.pop("SibSp")

445    0
446    0
447    0
448    2
449    0
      ..
886    0
887    0
888    1
889    0
890    0
Name: SibSp, Length: 446, dtype: int64

Añadir columnas. Por ejemplo añadir precio del ticket por edad

In [22]:
df["Price/Age"]=df["Fare"]/df["Age"]
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Price/Age
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0.481481
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1.578947
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,NaN
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1.153846
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0.242188

#Analisis descriptivo
Contar las filas no NaN

In [23]:
df.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
Price/Age      714
dtype: int64

Cuantas persoinas han sobrevivido?

In [24]:
df["Survived"].sum()

342

Suma acumulada de supervivientes?

In [25]:
df["Survived"].cumsum()

0        0
1        1
2        2
3        3
4        3
      ...
886    340
887    341
888    341
889    342
890    342
Name: Survived, Length: 891, dtype: int64

Maximo y minimo de edad

In [26]:
df["Age"].min()

0.42

In [28]:
df["Age"].max()

80.0

In [29]:
df.max()

<ipython-input-29-4c1ddf8920ff>:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.max()

PassengerId                            891
Survived                                 1
Pclass                                   3
Name           van Melkebeke, Mr. Philemon
Sex                                   male
Age                                   80.0
SibSp                                    8
Parch                                    6
Ticket                           WE/P 5735
Fare                              512.3292
Price/Age                       164.728261
dtype: object

Resumen estadistico del Dataframe

In [30]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Price/Age
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,714.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,2.391841
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429,8.115102
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400,0.342403
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,0.565217
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000,1.673857
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,164.728261

**Problema 3**
Calcular la tarifa media de los pasajeros del Titanic y crea una nueva columna llamada "Fare/Mean Fare" donde calcules el ratio entre la tarifa que ha pagado cada pasajero entre la tarifa media

In [31]:
mean_fare=df["Fare"].mean()
mean_fare

32.204207968574636

In [32]:
df["Fare/Mean Fare"]=df["Fare"]/mean_fare
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Price/Age,Fare/Mean Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,0.225126
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876,2.213478
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808,0.246086
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143,1.648853
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000,0.249967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,0.481481,0.403674
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1.578947,0.931555
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,NaN,0.728166
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1.153846,0.931555
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,0.242188,0.240652

**Problema 4**

Muestra el precio mas elevado y el precio mas bajo del ticket para el Titanic. Tambien muestra la recaudacion total por la venta de tickets

In [46]:
print(f"El precio minimo costo: {df['Fare'].min()}$")
print(f"El precio maximo costo: {df['Fare'].max()}$" )
print(f"La recaudacion total de tickets fue de: {round(df['Fare'].sum(),2)}$")

El precio minimo costo: 0.0$
El precio maximo costo: 512.3292$
La recaudacion total de tickets fue de: 28693.95$

#**Filtrado de filas**
Cual es el registro del boleto de la persona mas anciana en el Titanic

In [47]:
df[(df["Age"]==df["Age"].max())]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Price/Age,Fare/Mean Fare
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0,A23,S,0.375,0.931555

Muestra a los pasajeros que sobrevivieron que sean mayores a 60 años

In [50]:
df[(df["Age"]>60) & (df["Survived"]==1)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Price/Age,Fare/Mean Fare
275,276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S,1.237433,2.420749
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S,0.152183,0.297710
570,571,1,2,"Harris, Mr. George",male,62.0,0,0,S.W./PP 752,10.5000,NaN,S,0.169355,0.326044
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S,0.375000,0.931555
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN,1.290323,2.484147

Muestra a los pasajeros con algun familiar abordo y no sobrevivieron

In [51]:
df[((df["SibSp"]>0)|(df["Parch"]!=0))&(df["Survived"]==0)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Price/Age,Fare/Mean Fare
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,0.225126
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,10.537500,0.654418
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,0.801923,0.971146
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,14.562500,0.904385
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,0.580645,0.558933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860,861,0,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083,NaN,S,0.344105,0.438089
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S,0.547619,0.357096
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,NaN,2.159656
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,0.746795,0.904385
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,NaN,0.728166

Muestra un dataframe solo con columnas que terminen en la letra "e"

In [52]:
df.filter(regex="e$", axis=1)

,Name,Age,Fare,Price/Age,Fare/Mean Fare
0,"Braund, Mr. Owen Harris",22.0,7.2500,0.329545,0.225126
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,71.2833,1.875876,2.213478
2,"Heikkinen, Miss. Laina",26.0,7.9250,0.304808,0.246086
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,53.1000,1.517143,1.648853
4,"Allen, Mr. William Henry",35.0,8.0500,0.230000,0.249967
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",27.0,13.0000,0.481481,0.403674
887,"Graham, Miss. Margaret Edith",19.0,30.0000,1.578947,0.931555
888,"Johnston, Miss. Catherine Helen ""Carrie""",NaN,23.4500,NaN,0.728166
889,"Behr, Mr. Karl Howell",26.0,30.0000,1.153846,0.931555
890,"Dooley, Mr. Patrick",32.0,7.7500,0.242188,0.240652

Muestra un Dataframe con "Mary" en el nombre.

In [56]:
data.filter(like="Mary", axis=0)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Hewlett, Mrs. (Mary D Kingcome)",16,1,2,female,55.0,0,0,248706,16.0000,NaN,S
"Glynn, Miss. Mary Agatha",33,1,3,female,NaN,0,0,335677,7.7500,NaN,Q
"Wick, Miss. Mary Natalie",319,1,1,female,31.0,0,2,36928,164.8667,C7,S
"Slayter, Miss. Hilda Mary",323,1,2,female,30.0,0,0,234818,12.3500,NaN,Q
"Davison, Mrs. Thomas Henry (Mary E Finck)",348,1,3,female,NaN,1,0,386525,16.1000,NaN,S
"McGovern, Miss. Mary",359,1,3,female,NaN,0,0,330931,7.8792,NaN,Q
"Mockler, Miss. Helen Mary ""Ellie""",360,1,3,female,NaN,0,0,330980,7.8792,NaN,Q
"Nakid, Miss. Maria (""Mary"")",382,1,3,female,1.0,0,2,2653,15.7417,NaN,C
"Holverson, Mrs. Alexander Oskar (Mary Aline Towner)",384,1,1,female,35.0,1,0,113789,52.0000,NaN,S
"West, Mrs. Edwy Arthur (Ada Mary Worth)",473,1,2,female,33.0,1,2,C.A. 34651,27.7500,NaN,S
"Canavan, Miss. Mary",502,0,3,female,21.0,0,0,364846,7.7500,NaN,Q
"O'Sullivan, Miss. Bridget Mary",503,0,3,female,NaN,0,0,330909,7.6292,NaN,Q
"Angle, Mrs. William A (Florence ""Mary"" Agnes Hughes)",519,1,2,female,36.0,1,0,226875,26.0000,NaN,S
"Kelly, Miss. Mary",574,1,3,female,NaN,0,0,14312,7.7500,NaN,Q
"Bourke, Miss. Mary",594,0,3,female,NaN,0,2,364848,7.7500,NaN,Q
"Davis, Miss. Mary",636,1,2,female,28.0,0,0,237668,13.0000,NaN,S
"Mangan, Miss. Mary",768,0,3,female,30.5,0,0,364850,7.7500,NaN,Q
"Mack, Mrs. (Mary)",773,0,2,female,57.0,0,0,S.O./P.P. 3,10.5000,E77,S
"Lines, Miss. Mary Conover",854,1,1,female,16.0,0,1,PC 17592,39.4000,D28,S
"Wick, Mrs. George Dennick (Mary Hitchcock)",857,1,1,female,45.0,1,1,36928,164.8667,NaN,S

**Problema 5**

Cuantos pasajeros pagaron mas de la media y sobrevivieron

In [57]:
df[(df["Fare"]>df["Fare"].mean())&(df["Survived"]==1)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Price/Age,Fare/Mean Fare
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876,2.213478
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143,1.648853
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,1.267857,1.102340
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C,NaN,4.549741
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C,13.859733,1.291111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
849,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C,NaN,2.766850
853,854,1,1,"Lines, Miss. Mary Conover",female,16.0,0,1,PC 17592,39.4000,D28,S,2.462500,1.223443
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S,3.663704,5.119415
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,1.118174,1.631905
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,1.484970,2.582218

**Problema 6**

Crea un dataframe que contenga todas las columnas que comiencen por la letra "A"

In [58]:
df.filter(regex="^A", axis=1)

      Age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
886  27.0
887  19.0
888   NaN
889  26.0
890  32.0

[891 rows x 1 columns]